.aboutSectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.aboutSection {
  font-size: 2rem;
  font-family: 'Mulish', sans-serif;
  margin-bottom: 20px;
}
.aboutDetails {
  font-family: 'Mulish', sans-serif;
  width: 50%;
}

@media Screen and (max-width: 600px) {
  .aboutDetails {
    width: 90%;
  }
  .aboutSection {
    font-size: 1.5rem;
  }
}
